/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/******************************************
/* BACKGROUND COLOR FOR BODY
/*******************************************/
body {
  background: linear-gradient(to bottom, lightgray 70%, white 0%);
}
/******************************************
/* HEADER
/*******************************************/
header {
  height: 100px
}
h3,nav,button {
  float: left;
  width: 25%;
  font-size: 15px;
}
h3 {
  padding-left: 40px;
  font-size: 20px;
}
nav {
  width: 65%;
  text-decoration: none;
  padding-top: 10px;
}

button {
  width: 10%;
  margin-top: 20px;
  background: #003333;
  color: white;
}

li {
  float: left;
  width: 17%;
  list-style: none;
}

a {
  text-decoration: none;
  color: #003333;
}

/******************************************
/* MAIN SECTION
/*******************************************/
main {
  clear: both;
  margin-top: 20px;
}
.intro section {
  float: left;
  width: 40%;
}

.intro > section {
  margin: 0 50px;
  padding-right: 100px;
  padding-left: 60px;
}

img {
  width: 700px;
}
.feature {
  clear: both;
  padding: 30px 0;
}

.feature section {
  float: left;
  width: 25%;
  font-size: 13px;
}

.feature > section {
  padding-left: 110px;
}

.feature span {
  font-weight: bold;
}
/******************************************
/* BOTTOM SECTION
/*******************************************/
body main + section {
  clear: both;
  padding: 50px 110px;
  margin: 50px 0;
}

h2 + p {
  font-size: 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html {
  color: #003333;
}

h1 {
  font-size: 40px;
}

form {
  font-size: 15px;
}

.intro span {
  font-size: 15px;
}

h2 {
  font-size: 38px;
}

/******************************************
/* ADDING RESPONSIVE
/*******************************************/
@media (max-width: 480px) {
  nav, nav + button {
    display: none;
  }
}